.scoreContainer {
  width: 40%;
  position: absolute;
  top: 20px;
  border-radius: 18px;
  border: 2px solid whitesmoke;
}
.scoreContainer h2 {
  margin-bottom: 0;
}
.score {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
  height: 75px;
}
.scoreNumber {
  align-self: flex-end;
}
.score h3 {
  font-size: 60px;
  margin-bottom: 0;
}
